* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1 {
    color: brown;
}
#banner {
    width: 100vw;
    height: 40vh;
}
.btn-ligar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50vw;
    height: 50px;

    margin: 10px auto;

    background: #246C78;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    border-radius: 8px;
}

.btn-ligar:active {
    background: #1e7e34;
}