* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #97DBDA;
}

h1 {
    color: blue;
}

#banner {
    display: block;
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.dropdown {
    position: relative;
    transform: translate(-10%, -100%);
}

.btn-consulta {
    height: 5vh;
    width: 40vw;
}

#dropdown-menu { 
    display: none;
}
