* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: yellow;
}

#banner {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.btn-ligar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    max-width: 300px;
    height: 40px;

    margin: 12px auto;

    background: #246C78;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

    border-radius: 10px;
}

.btn-ligar:active {
    background: #1e7e34;
}
