* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #97DBDA;
    width: 100vw;
    height: 100vh;
}

.logo-bottom {
    display: flex;
}

.logo-t {
    display: block;
    width: 100vw;
    height: auto;
}

.logo-l {
    display: block;
    width: 26.9vw;
    height: auto;
}

.logo-r {
    display: block;
    width: 33.95vw;
    height: auto;
}

.menu-container {
    width: 40vw;
    position: relative;
    height: auto;
    background-image: url("images/complemento2.png");
    background-size: contain;
}

/* Botão principal */
.menu-rapido {
    width: 100%;
    height: 100%;
    background-image: url("images/complemento2.png");
    background-size: contain;
    color: black;
    border: 7px double #189CCD;
    border-radius: 50px;
    box-shadow: 0 0 0 1px black, 0 0 0 1px #246C78;
    cursor: pointer;
    font-size: clamp(1rem, 3.5vw, 4.5rem);
    font-weight: 600;
}

/* Dropdown ocupa exatamente o mesmo espaço */
.dropdown {
    position: absolute;
    inset: 0;
    display: none;
}

/* Quando ativo */
.dropdown.active {
    display: flex;
    gap: 20px
}

/* Botões internos */
.dropdown .opt {
    flex: 1;
    border: none;
    cursor: pointer;
    font-size: clamp(1rem, 3.5vw, 4.5rem);
    font-weight: 600;
}

.dropdown .mensagem {
    background-image: url("images/complemento2.png");
    background-size: contain;
    color: black;
    border: 7px double #189CCD;
    border-radius: 50px;
    box-shadow: 0 0 0 3px black, 0 0 0 6px #246C78;
}

.dropdown .ligar {
    background-image: url("images/complemento2.png");
    background-size: contain;
    color: black;
    border: 7px double #189CCD;
    border-radius: 50px;
    box-shadow: 0 0 0 3px black, 0 0 0 6px #246C78;
}

/* Efeito hover */
.dropdown .opt:hover,
.menu-rapido:hover {
    filter: brightness(0.95);
}